<form [formGroup]="databankform" (ngSubmit)="SaveData()">
  <h1 mat-dialog-title>{{inputdata.title}}</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input formControlName="id" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input formControlName="description" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput formControlName="startdate">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Valor</mat-label>
      <input matInput formControlName="value">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Avulso</mat-label>
      <input matInput formControlName="loose">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Státus</mat-label>
      <input matInput formControlName="state">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary">Save</button>
    <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
    <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button> -->
  </div>
</form>
